@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&family=Pacifico&family=Roboto:wght@100;300;400&display=swap');

.banner{
    position: relative;
}

.banner-imagem {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.banner-titulo{
    color: #f4f4f4;
    font-family: Pacifico, cursive;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

.secundario{
   
    text-align: center;

}

.secundario-titulo {
    color: #8d0606;
    font-family: Pacifico, cursive;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75);
}

.secundario-paragrafo{
    color: #595959;
    font-weight: 100;

}

@media screen and (min-width: 0 ) {
    .banner-titulo{
        font-size: 3rem;
    }
    .banner-imagem{
        height: calc(100vh - 51px);
    }
    .secundario {
        padding: 2.5rem 1rem;
    }
    .secundario-titulo {
        font-size: 2rem;
    }
    .secundario-paragrafo {
        font-size: 1.3rem;
    }
    }
@media screen and (min-width: 768px ) {
    .banner-titulo {
        font-size: 5.0625rem;
    }
    .banner-imagem {
        height: calc(100vh - 72px);
    }
    .secundario {
        padding: 2.5rem;
    }
    .secundario-titulo {
        font-size: 3.1875rem;
    }
    .secundario-paragrafo {
        font-size: 1.75rem;
    }
    }

